.advetisment {
  box-sizing: border-box;
  @include container();
  padding: 50px 20px 70px;
  width: 320px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: $grey-text;
  border: 1px solid blue;
}
.advetisment__text {
    line-height: 32px;
}
.advetisment__text span {
  display: block;
  margin-top: 40px;
  line-height: 32px;
}

// планшетная версия
@media #{$tablet} {
  .advetisment {
    width: 700px;
  }
}

// десктопная версия
@media #{$desktop} {
  .advetisment {
    width: 1200px;
  }
  .advetisment__text {
    line-height: 65px;
    font-size: 50px;
  }
  .advetisment__text span {
    line-height: 65px;
  }
}
