.button {
  box-sizing: border-box;
  display: block;
  padding: 17px 0;
  width: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $green;
  border: none;
  &:hover {
    background-color: $green-dark;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $green-dark;
  }
  &:focus {
    outline: none;
  }
}
