.contact {
  margin-bottom: 35px;
  text-align: center;
}
.contact__title {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.contact__link,
.contact__text {
    font-weight: 300;
    font-size: 24px;
    color: $red-text;
}



// планшетная версия
@media #{$tablet} {
  .contact {
    display: inline-block;
    width: 300px;
    vertical-align: top;
  }
}

// десктопная версия
@media #{$desktop} {
  .contact {
    width: 280px;
    &--phone {
      float: left;
      margin-left: 40px;
    }
    &--email {
      float: right;
      margin-right: 40px;
    }
    &--address {
      width: 270px;
    }
  }
}
