.contact {
  margin-bottom: 21px;
  text-align: center;
  line-height: 27px;
  &--email {
    margin-bottom: 26px;
  }
  &--address {
    line-height: 29px;
  }
}
.contact__title {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.contact__link,
.contact__text {
    font-weight: 300;
    font-size: 24px;
    color: $red-text;
}



// планшетная версия
@media #{$tablet} {
  .contact {
    width: 49%;
    margin-bottom: 44px;
    &--phone {
      margin-right: 0;
    }
    &--address {
      width: 100%;
      margin-bottom: 11px;
    }
  }
}

// десктопная версия
@media #{$desktop} {
  .contact {
    align-content: stretch;
    margin-right: 0;
    width: 313px;
    vertical-align: top;
  }
}
