.description {
  box-sizing: border-box;
  @include container();
  padding: 49px (20/320)*100% 15px;
  width: 100%;
  line-height: 28px;
  text-align: center;
  &--fill-form {
    display: none;
  }
  &--upload {
    padding-bottom: 50px;
  }
}

// планшетная версия
@media #{$tablet} {
  .description {
    padding: 94px (60/660)*100% 2px;
    font-size: 18px;
    &--fill-form {
      display: block;
      margin-top: 3px;
      margin-bottom: 60px;
      text-align: center;
      font-size: 18px;
    }
    &--page-photo {
      padding: 100px 105px 80px;
      width: 700px;
    }
    &--upload {
      padding: 75px 80px;
      width: 700px;
    }
  }
}

// десктопная версия
@media #{$desktop} {
  .description {
    width: 940px;
    &--page-photo {
      padding: 100px 280px 80px;
      width: 1200px;
    }
    &--fill-form {
      display: inline;
    }
    &--upload {
      width: 1200px;
    }
  }
}
