.description {
  box-sizing: border-box;
  @include container();
  padding: 49px (20/320)*100% 15px;
  width: 100%;
  line-height: 28px;
  text-align: center;
  &--fill-form {
    display: none;
  }
  &--upload {
    padding: 25px (24/320)*100% 41px (20/320)*100%;
    line-height: 30px;
  }
  &--page-photo {
    padding: 49px 11% 51px;
  }
}

/********************************************************************************************
*******        планшетная версия
********************************************************************************************/
@media #{$tablet} {
  .description {
    padding: 94px (60/660)*100% 2px;
    font-size: 18px;
    &--fill-form {
      display: block;
      margin-top: 3px;
      margin-bottom: 60px;
      text-align: center;
      font-size: 18px;
    }
    &--page-photo {
      padding: 93px (105/660)*100% 78px;
      line-height: 29px;
    }
    &--upload {
      padding: 45px (80/660)*100% 70px;
    }
  }
}

/*****************************************************************************************************
********* десктопная версия
*****************************************************************************************************/
@media #{$desktop} {
  .description {
    width: 940px;
    &--page-photo {
      padding: 92px 180px 88px;
      width: 960px;
    }
    &--fill-form {
      display: inline;
    }
    &--upload {
      padding: 7px 0px 66px;
      width: 960px;
    }
  }
}
