.feedback {
  display: none;
  flex-wrap: wrap;
  text-align: center;
  &--active {
    display: flex;
  }
}

.feedback__author-name {
  margin-bottom: 17px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  order: 1;
}

.feedback__author-details {
  display: none;
}

.feedback__text {
  width: 100%;
  line-height: 29px;
  color: $grey-text;
  order: 2;
}

// планшетная версия
@media #{$tablet} {
  .feedback__text {
    font-size: 18px;
    order: 1;
  }
  .feedback__author-name {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    order: 2;
  }
  .feedback__author-details {
    display: block;
    width: 100%;
    order: 3;
    text-align: center;
  }
}

// десктопная версия
@media #{$desktop} {
  .feedback {
    width: 690px;
  }
  .feedback__author-name {
    margin-top: 43px;
    font-size: 24px;
  }
  .feedback__author-details {
    font-size: 18px;
  }
}
