.feedback {
  flex-wrap: wrap;
  text-align: center;
}

.feedback__author-name {
  margin-bottom: 17px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  order: 1;
}

.feedback__author-details {
  display: none;
}

.feedback__text {
  width: 100%;
  line-height: 29px;
  color: $grey-text;
  order: 2;
}

// планшетная версия
@media #{$tablet} {
  .feedback__author-name {
    position: static;
    margin-top: 20px;
    text-align: center;
    transform: none;
  }
  .feedback__author-details {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
}
