.form {
}
.form__group {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  &--name {
    margin-bottom: 28px;
  }
  &--contacts {
    margin-bottom: 40px;
  }
}
.form__group-container {
  padding: 21px (20/320)*100% 0px;
  &--achivements {
    padding-top: 18px;
    padding-bottom: 27px;
    background-color: $grey-light;
  }
  &--contacts {
    padding: 29px (20/320)*100% 0px;
  }
  &--application {
    padding-bottom: 25px;
    background-color: $grey-light;
  }
  &--comments {
    padding-top: 18px;
  }
  &--submit {
  padding-top: 28px;
  padding-bottom: 57px;
  }

}
.form__legend {
  box-sizing: border-box;
  width: 100%;
  color: $red-text;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;
  &--achivements {
    padding-top: 37px;
    background-color: $grey-light;
  }
  &--application {
    padding: 34px 5px 0px;
    background-color: $grey-light;
  }
  &--comments {
    padding-top: 56px;
  }
}
.form__input-wrapper {
  position: relative;
  padding-bottom: 18px;
  &--checkbox {
    padding-top: 23px;
    padding-bottom: 22px;
  }
  &--radio {
    padding-top: 17px;
    padding-bottom: 20px;
  }
}
.form__field-name {
  margin-left: 23px;
  color: $red-text;
  line-height: 32px;
  text-transform: uppercase;
}
.form__input {
  box-sizing: border-box;
  width: 100%;
  &--text {
    margin-top: 5px;
    padding-left: 20px;
    height: 60px;
    &[placeholder] {
      font-size: 18px;
    }
  }
  &--checkbox {
    display: none;
  }
  &--radio {
    display: none;
  }
}
.form__checkbox-name {
  padding-left: 70px;
  font-size: 18px;
  line-height: 37px;
  &::before {
    position: absolute;
    content: "";
    top: 21px;
    left: 0;
    width: 37px;
    height: 37px;
    background-color: #fff;
    border: 2px solid $grey-line;
  }
}
.form__input--checkbox:checked + .form__checkbox-name::after {
  position: absolute;
  content: "";
  top: 32px;
  left: 8px;
  width: 20px;
  height: 10px;
  border-bottom: 2px solid $red-text;
  border-left: 2px solid $red-text;
  transform: rotate(-45deg);
}
.form__radio-name {
  padding-left: 70px;
  font-size: 18px;
  line-height: 37px;
  &::before {
    position: absolute;
    content: "";
    top: 14px;
    left: 0;
    width: 37px;
    height: 37px;
    background-color: #fff;
    border: 2px solid $grey-line;
    border-radius: 50%;
  }
}
.form__input--radio:checked + .form__radio-name::after {
  position: absolute;
  content: "";
  top: 27px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-color: $red-text;
  border-radius: 50%;
}
.form__textarea {
  box-sizing: border-box;
  padding: 16px 20px;
  width: 100%;
  height: 200px;
  font-size: 18px;
  line-height: 30px;
}
.form__submit {
  margin-bottom: 37px;
}
.form__note {
  text-align: center;
  text-transform: uppercase;
}
.form__note span {
  color: $red-text;
}


// планшетная версия
@media #{$tablet}  {
  .form__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0 (20/660)*100%;
  }
  .form__group {
    width: 100%;
    border: 2px solid $grey-line;
    &--name {
      margin-bottom: 6px;
      border: none;
    }
    &--achivements {
      order: 3;
    }
    &--contacts {
      order: 2;
    }
    &--application {
      margin-bottom: 100px;
      order: 1;
    }
    &--comments {
      order: 4;
    }
  }
  .form__group-container {
    padding: 21px (60/620)*100% 0px;
    background-color: #fff;
    &--name {
      padding: 5px (20/660)*100% 0px;
    }
  }
  .form__legend {
    padding-top: 0;
    width: auto;
    background-color: #fff;
  }
  .form__input-wrapper {
    display: flex;
    align-items: center;
    &--name {
      padding-bottom: 52px;
    }
    &--radio {
      padding-top: 24px;
      padding-bottom: 14px;
    }
  }
  .form__field-name {
    margin-left: 0;
    margin-right: 22px;
  }
  .form__radio-name {
    padding-left: 58px;
    &::before {
      top: 22px;
      left: -3px;
    }
  }
  .form__input--radio:checked + .form__radio-name::after {
    top: 35px;
    left: 10px;
  }
}
