.menu {
  display: none;
  position: absolute;
  top: 64px;
  width: 100%;
  color: #fff;
  background-color: $grey-dark;
  z-index: 2;
}

.menu__list {
    display: block;
    margin: 0;
    padding: 0;
}

.menu__item {
    display: block;
    height: 62px;
    line-height: 62px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 1px #000;
}
.menu__link {
    text-align: center;
}

// планшетная версия
@media #{$tablet} {
  .menu {
    top: 106px;
  }
}

// десктопная версия
@media #{$desktop} {
  .menu {
    display: block;
    position: static;
    float: right;
    margin-top: -22px; // не понял почему?
    width: 755px;
    background: none;
  }
  .menu__list {
    font-size: 0;
  }
  .menu__item {
    display: inline-block;
    margin-right: 75px;
    font-size: 18px;
    font-weight: normal;
    box-shadow: none;
  }
}
