.menu {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  color: #fff;
  background-color: $grey-dark;
  z-index: 3;
  &--no-js {
    display: block;
  }
  &--open {
    display: block;
  }
}

.menu__list {
    display: block;
    margin: 0;
    padding: 0;
}

.menu__item {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 64px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 1px #000,
      inset 0 2px rgba(255, 255, 255, 0.15);
}
.menu__link {
    text-align: center;
}
.menu__link:hover {
  color: $red-text;
}
.menu__link:active {
  color: rgba(210, 40, 86, 0.3);
}

/******************************************************************************************
********** планшетная версия
******************************************************************************************/
@media #{$tablet} {
  .menu {
    top: 106px;
    font-size: 18px;
    &--page-form {
      top: 109px;
    }
  }
}

/******************************************************************************************
********** десктопная версия
******************************************************************************************/
@media #{$desktop} {
  .menu {
    position: static;
    display: block;
    width: 620px;
    background: none;
  }
  .menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu__item {
    margin-top: -7px;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    box-shadow: none;
  }
}
