.page-footer {
  box-sizing: border-box;
  padding-bottom: 22px;
  width: 320px;
  text-align: center;
  border: 1px solid red;
}

.page-footer__top--page-index {
    margin-bottom: 45px;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

.page-footer__map {
    height: 200px;
    background: url("../img/bg-map-mobile@1x.png") top center no-repeat;
}

.page-footer__logo {
    display: block;
    margin: 40px auto;
    width: 146px;
    height: 40px;
}

.page-footer__htmlacademy-logo {
  position: relative;
  top: 30px;
  left: 0px;
}

.page-footer--page-index {
  padding: 53px 0px 0px;
}
