.page-footer {
  // position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 22px;
  width: 100%;
  text-align: center;
  &--page-index {
  }
}

.page-footer__top {
  @include container();
  margin-bottom: 20px;
  padding: 44px 0 0;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
.page-footer__title {
  margin-bottom: 34px;
  line-height: 27px;
}

.page-footer__map {
  position: relative;
  width: 100%;
  height: 200px;
  background: url("../img/bg-map-mobile@1x.png") top center no-repeat;
  &::before {
    position: absolute;
    content: "";
    top: -30px;
    left: 0;
    width: 100%;
    height: 62px;
    background: url("../img/bg-triangle-white-footer.svg") top center no-repeat;
    z-index: 10;
  }
}
.page-footer__bottom {
  @include container();
  display: flex;
  justify-content: space-between;
  padding: 35px (40/700)*100%;
  width: 100%;
  &--page-index {
  display: none;
  }
}
.page-footer__logo {
    display: block;
    width: 146px;
    height: 40px;
}

.page-footer__htmlacademy-logo {
  position: relative;
  top: 30px;
  left: 0;
}
.page-footer__copyright {
  font-size: 14px;
}

// планшетная версия
@media #{$tablet} {
  .page-footer {
    &--page-index {
    }
  }
  .page-footer__top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 43px;
    width: 660px;
    font-size: 40px;
    line-height: 45px;
  }
  .page-footer__title {
    margin-bottom: 43px;
    width: 100%;
    font-size: 40px;
    line-height: 47px;
  }
  .page-footer__map {
    height: 375px;
    background: url("../img/bg-map-tablet@1x.jpg") top center no-repeat;
    &::before {
      top: 0;
    }
  }
  .page-footer__bottom {
    padding: 35px (20/660)*100%;
    &--page-index {
    display: flex;
    }
  }
  .page-footer__logo,
  .page-footer__copyright {
    margin: 0;
    width: 150px;
  }
  .page-footer__htmlacademy-logo {
    position: static;
    top: 0;
    left: 0;
    width: 40px;
    height: auto;
    margin-top: 10px;
    margin-right: -39px;
  }
}

// десктопная версия
@media #{$desktop} {
  .page-footer__top {
    justify-content: space-between;
    margin-bottom: 0;
    padding: 68px 10px 24px;
    width: 940px;
  }
  .page-footer__title {
    margin-bottom: 59px;
    width: 100%;
    font-size: 50px;
    line-height: 56px;
  }
  .page-footer__map {
    width: 100%;
    height: 488px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    &::before {
      height: 100px;
      background-size: cover;
    }
  }
  .page-footer__map .ymaps-2-1-41-controls-pane {
    top: 45px !important;
  }
  .page-footer__bottom {
    padding: 65px 10px;
    width: 960px;
  }
  .page-footer__logo {
    margin-right: 200px;
  }
  .page-footer__copyright {
    width: 200px;
    font-size: 18px;
  }
  .page-footer__htmlacademy-logo {
    position: static;
    margin-right: -22px;
    margin-top: 12px;
  }
}
