.page-header {
  width: 100%;
  background-color: $grey-black;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-position: 50% -6px;
  background-repeat: no-repeat;
}
.page-header__top {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  &--no-js {
    background-color: $grey-dark;
    box-shadow: 0 1px #000;
  }
  &--menu-open {
    background-color: $grey-dark;
    box-shadow: 0 1px #000,
      inset 0 2px rgba(255, 255, 255, 0.15);
  }
}
.page-header__top-container {
  @include container();
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 20px (20/320)*100%;
  z-index: 1;
}
.page-header__logo {
  width: 74px;
  height: 23px;
}
.page-header__button {
  width: 50px;
  height: 24px;
  border: none;
  background: url("../img/icon-menu-burger.svg") no-repeat top center;
  &--menu-open {
    background: url("../img/icon-menu-cross.svg") no-repeat top center;
    margin-right: -14px;
  }
}

.page-header__container {
  @include container();
  position: relative;
  box-sizing: border-box;
  padding: 20px (20/320)*100%;
  min-height: 171px;
  &--page-index {
    min-height: 392px;
    &::after {
      content: "";
      position: absolute;
      top: 100px;
      left: 50%;
      width: 258px;
      height: 286px;
      background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
      transform: translateX(-160px);
   }
  }
}

// планшетная версия
@media #{$tablet} {
  .page-header {
    background-size: cover;
  }
  .page-header__top {
    box-shadow: none;
  }
  .page-header__top-container {
    padding: 40px (30/700)*100%;
    width: 700px;
    height: 110px;
  }
  .page-header__container {
    padding: 40px (30/700)*100%;
    min-height: 326px;
    &--page-index {
      min-height: 618px;
      &::after {
        top: auto;
        bottom: 0;
        left: 50%;
        width: 485px;
        height: 542px;
        background-size: auto 542px;
      }
    }
  }
}

// десктопная версия
@media #{$desktop} {
  .page-header__top-container {
    padding-left: 130px;
    padding-right: 130px;
    width: 1200px;
    height: 105px;
  }
  .page-header__button {
    display: none;
  }
  .page-header__container {
    width: 1200px;
    &--page-index {
      padding: 130px;
      min-height: 850px;
      &::after {
        bottom: 0;
        left: 475px;
        width: 580px;
        height: 642px;
        background-size: auto 642px;
      }
    }
  }
}
