.page-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  &--page-photo {
    padding-top: 6px;
  }
}
.page-title__description {
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  text-align: center;
  &--page-index {
    font-size: 0;
  }
}

/****************************************************************************************************
******    планшетная версия
****************************************************************************************************/
@media #{$tablet} {
  .page-title {
    padding: 90px 85px 145px;
    background-position: center top;
    &--page-form {
      padding: 27px (10/660)*100% 40px;
      background-size: cover;
    }
    &--page-photo {
      padding: 27px (10/660)*100% 40px;
      background-size: cover;
    }
    &--page-index {
      height: 728px;
      &::after {
        top: 207px;
        left: 193px;
        width: 470px;
        height: 546px;
        background-size: contain;
      }
    }
  }
  .page-title__description {
    font-size: 50px;
    line-height: 60px;
    &--page-index {
      font-size: 0;
    }
  }
}

/****************************************************************************************************
******    десктопная версия
****************************************************************************************************/
@media #{$desktop} {
  .page-title {
    padding: 80px 80px 0px;
    background-size: 960px auto;
    &::after {
      top: 225px;
      left: 500px;
    }
    &--page-index {
      height: 852px;
      background-position: bottom center;
    }
    &--page-form {
      padding: 20px 80px 60px;
    }
    &--page-photo {
      padding: 19px 125px 0px;
    }
  }
  .page-title__description {
    &--page-index {
      font-size: 0;
    }
  }
}
