.page-footer {
  // position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 22px;
  width: 100%;
  text-align: center;
  &--page-index {
    padding: 53px 0 0;
  }
}

.page-footer__top {
  @include container();
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
.page-footer__title {
  margin-bottom: 40px;
}

.page-footer__map {
  @include container();
  width: 320px;
  height: 200px;
  background: url("../img/bg-map-mobile@1x.png") top center no-repeat;
}
.page-footer__bottom {
  @include container();
  display: flex;
  justify-content: space-between;
  padding: 35px (40/700)*100%;
  width: auto;
  border: 1px solid red;
  &--page-index {
  display: none;
  }
}
.page-footer__logo {
    display: block;
    width: 146px;
    height: 40px;
}

.page-footer__htmlacademy-logo {
  position: relative;
  top: 30px;
  left: 0;
}
.page-footer__copyright {
  font-size: 14px;
}

// планшетная версия
@media #{$tablet} {
  .page-footer {

  }
  .page-footer__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    font-size: 40px;
    line-height: 45px;
  }
  .page-footer__title {
    width: 460px;
  }
  .page-footer__map {
    width: 700px;
    height: 375px;
    background: url("../img/bg-map-tablet@1x.jpg") top center no-repeat;
  }
  .page-footer__bottom {
    width: 700px;
    &--page-index {
    display: flex;
    }
  }
  .page-footer__logo,
  .page-footer__copyright {
    margin: 0;
    width: 206px;
  }
}

// десктопная версия
@media #{$desktop} {
  .page-footer__top {
    align-content: stretch;
    width: 1200px;
  }
  .page-footer__title {
    width: 100%;
  }
  .page-footer__map {
    width: 1200px;
    height: 500px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    &::before {
      content: "";
      display: table;
      clear: both;
    }
  }
  .page-footer__bottom {
    width: 1200px;
  }
  .page-footer__logo {
    margin-right: 200px;
  }
}
