.plans {
  width: 1190px;
  background-color: #fff;
  transform: translateX(-550px);
}
.plans__cell {
  &--name {
    width: 230px;
  }
  &--mark {
    width: 90px;
  }
}

.plans__title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: $grey-dark;
  &--empty {
    background-color: $grey-light;
  }
}


.plans__toggle {
  height: 100px;
  background-color: $grey-light;
}

// планшетная версия
@media #{$tablet} {
  .plans {
    width: 620px;
    transform: translateX(0px);
  }
  .plans__cell {
    &--name {
      width: 0px;
      transform: translateX(-4000px);
    }
    &--first {
      width: 156px;
      transform: translateX(0px);
    }
    &--mark {
      width: 153px;
      transform: translateX(-40px);
    }
  }
  .plans__toggle {
    display: none;
  }
}

// десктопная версия
@media #{$desktop} {
  .plans {
    width: 940px;
  }
}
