.plans {
  width: 840px;
  background-color: #fff;
  transform: translateX(-260px);
}
tr {

}
td {
  box-sizing: border-box;
  font-size: 0;
  text-transform: uppercase;
  border: 2px solid $grey-line;
}
.plans__title {
  padding: 20px;
  color: #fff;
  text-align: center;
  background-color: $grey-text;
  &--empty {
    display: none;
  }
  &--hit {
    position: relative;
    ::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 74px;
      height: 73px;
      background: url("../img/bg-hit.svg") top center no-repeat;
    }
  }
}
.plans__title-name {
  font-size: 18px;
  font-weight: bold;
}
.plans__title-price {
  display: block;
  margin-top: 7px;
  font-size: 24px;
  font-weight: 300;
}
.plans__feature {
  display: inline-block;
  width: 206px;
  font-size: 14px;
}
.plans__cell {
  padding: 15px 20px 12px;
  line-height: 15px;
  &--text {
    display: none;
  }
}
.plans__toggle {
  padding-top: 40px;
  padding-bottom: 35px
}
