.plans-wrapper {
  width: 100%;
  background-color: $grey-light;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.plans-wrapper__container {
  position: relative;
  box-sizing: border-box;
  @include container();
  padding: 85px 0 33px;
  width: 320px;
  overflow-x: hidden;
}


// планшетная версия
@media #{$tablet} {
  .plans-wrapper__container {
    padding: 35px 40px 65px;
    width: 700px;
    &::before {
      width: 700px;
    }
  }
}

// десктопная версия
@media #{$desktop} {
  .plans-wrapper__container {
    padding: 65px 130px 85px;
    width: 1200px;
  }
}
