.plans {
  width: 1190px;
  background-color: #fff;
  transform: translateX(-550px);
}
.plans__cell {
  &--name {
    width: 230px;
  }
  &--mark {
    width: 90px;
  }
}

.plans__title {
  padding-bottom: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: $grey-dark;
  &--empty {
    background-color: $grey-light;
  }
}
.plans__title-name {
  margin-top: 16px;
  line-height: 30px;
  font-size: 18px;
}
.plans__title-price {
  line-height: 30px;
  font-size: 24px;
}
.plans__row {
  line-height: 30px;
  text-transform: uppercase;
}
.plans__cell {
  border-top: 2px solid $grey-line;
  border-bottom: 2px solid $grey-line;
  &--name {
    padding: 14px 0;
    border-left: 2px solid $grey-line;
  }
  &--mark {
    border-right: 2px solid $grey-line;
  }
}
.plans__mark {
  &--mark-yes {
    width: 31px;
    height: 21px;
  }
  &--mark-no {
    width: 27px;
    height: 26px;
  }
}
.plans__toggle {
  padding-top: 43px;
  background-color: $grey-light;
}

// планшетная версия
@media #{$tablet} {
  .plans {
    width: 620px;
    transform: translateX(0px);
  }
  .plans__cell {
    &--name {
      width: 0px;
      transform: translateX(-4000px);
    }
    &--first {
      width: 156px;
      transform: translateX(0px);
    }
    &--mark {
      width: 153px;
      transform: translateX(-40px);
    }
  }
  .plans__toggle {
    display: none;
  }
}

// десктопная версия
@media #{$desktop} {
  .plans {
    width: 940px;
  }
}
