.plan {
  box-sizing: border-box;
  width: 320px;  // для сетки
  vertical-align: top;
  font-size: 14px;
}
.plan__top {
  padding: 25px 0;
  height: 100px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: $grey-dark;
  & span {
    font-weight: 300;
    font-size: 24px;
  }
}
.plan__title {
  font-weight: bold;
  font-size: 18px;
}
.plan__feature {
  padding-left: 45px;
  line-height: 60px;
  text-transform: uppercase;
  border-bottom: 2px solid #e5e5e5;
}
