.post {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  &--first {
    position: relative;
    &::before {
      position: absolute;
      content: "Панорама дня";
      top: 0;
      left: 50%;
      box-sizing: border-box;
      padding: 5px 20px;
      width: 140px;
      height: 37px;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      background-color: $red-text;
    }
  }
}
.post__wrapper {
  @include container();
  padding: 0 (20/320)*100%;
  width: 100%;
}
.post__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  @include container();
  padding: 0 (18/320)*100% 20px;
  width: 100%;
  background: $grey-light;
}
.post__link {

}
.post__photo {
  display: block;
  width: 100%;
  height: auto;
  &--first {
    margin-left: 0;
  }
}
.post__header {
  padding: 18px 0 0 2px;
}
.post__author {
  font-weight: bold;
}
.post__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}
.post__text {
  padding-bottom: 9px;
  padding-left: 1px;
}
.post__likes-container {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
  font-size: 0;
}
.post__like-it {
  position: relative;
  margin-right: 16px;
  width: 13px;
  height: 12px;
  background-color: $grey-light;
  border: 1px solid transparent;
  &::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 1px;
    width: 13px;
    height: 12px;
    background: url("../img/icon-heart.svg") center no-repeat;
  }
}
.post__likes-text {
  color: $red-text;
  font-size: 12px;
  text-transform: uppercase;
}

/**************************************************************************************************
********* планшетная версия
**************************************************************************************************/
@media #{$tablet} {
  .post {
    margin-bottom: 19px;
    width: (300/620)*100%;
    font-size: 14px;
    &--first {
      margin-bottom: 51px;
      width: 100%;
      &::before {
        top: 56px;
        left: auto;
        right: 19px;
      }
    }
  }
  .post__wrapper {
    padding: 0 (20/660)*100%;
  }

  .post__container {
    padding: 0 9% 27px;
    &--first {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      padding:22px (28/660)*100% 15px;
    }
  }
  .post__header {
    padding-top: 24px;
    &--first {
      padding-top: 0;
      order: 1;
    }
  }
  .post__text {
    min-height: 47px;
    &--first {
      order: 3;
    }
  }
  .post__likes-container {
    justify-content: space-between;
    &--first {
      width: 121px;
      order: 2;
    }
  }
  .post__like-it {
    left: -3px;
    margin-right: 0;
    order: 2;
    &--first {
      &::after {
        top: 6px;
        left: -2px;
      }
    }
  }
  .post__likes-text {
    order: 1;
  }
  .post__photo {
    height: 300px;
    &--first {
      height: 509px;
    }
  }
  .post__container {

  }
}

/**************************************************************************************************
********* десктопная версия
**************************************************************************************************/
@media #{$desktop} {
  .post {
    width: 300px;
    margin-bottom: 56px;
    &--first {
      margin-bottom: 51px;
      width: 100%;
      &::before {
        top: 55;
        left: 50%;
        transform: translateX(330px);
      }
    }
  }
  .post__wrapper {
    padding: 0 10px;
    width: 960px;
  }
  .post__container {
    padding-bottom: 23px;
      &--first {
        padding: 24px 26px 13px;
    }
  }
  .post__text {
    &--first {
      min-height: 0;
    }
  }
  .post__photo {
    height: 400px;
    &--first {
      @include container();
      width: 960px;
      height: 507px;
    }
  }

}
