.post-container {
  @include container();
  width: 320px;
}

// планшетная версия
@media #{$tablet} {
  .post-container {
    padding: 0 40px;
    width: 700px;
    font-size: 0;
    box-shadow: 0 0 2px red;
  }
}


// десктопная версия
@media #{$desktop} {
  .post-container {
  padding: 0 130px;
  width: 1200px;
  }
}
