.post-list {
  @include container();
  padding: 0 (20/320)*100%;
  width: 100%;
}

// планшетная версия
@media #{$tablet} {
  .post-list {
    padding: 0 40px;
    width: 700px;
  }
}


// десктопная версия
@media #{$desktop} {
  .post-list {
  padding: 0 130px;
  width: 1200px;
  }
}
