.profit-list {
  box-sizing: border-box;
  padding: 50px 20px 280px;
  width: 320px;
  background-color: $grey-light;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: center 543px;
  background-repeat: no-repeat;
  border: 1px solid black;
}
