.profit-item {
  box-sizing: border-box;
  text-align: center;
}
.profit-item__title {
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 18px;
}
.profit-item__text {
  margin-bottom: 29px;
  color: $grey-text;
}

// планшетная версия
@media #{$tablet} {
  .profit-item {
    text-align: left;
  }
  .profit-item__text {
    margin-bottom: 33px;
  }
}

// десктопная версия
@media #{$desktop} {
  .profit-item {
    position: relative;
    width: 282px;
    text-align: center;
    &::before {
      position: absolute;
      content: "";
      top: -361px;
      left: 48px;
      width: 185px;
      height: 300px;
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-position: top left;
      background-size: 185px auto;
      background-repeat: no-repeat;
    }
  }
  .profit-item__title {
    padding: 0 30px;
    font-size: 30px;
    margin-bottom: 34px;
  }
  .profit-item__text {
    padding: 0 20px;
    font-size: 18px;
    line-height: 28px;
  }
}
