.profit-item {
  box-sizing: border-box;
  text-align: center;
}
.profit-item__title {
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 18px;
}
.profit-item__text {
  margin-bottom: 29px;
  color: $grey-text;
}

// планшетная версия
@media #{$tablet} {
  .profit-item {
    text-align: left;
  }
  .profit-item__text {
    margin-bottom: 33px;
  }
}

// десктопная версия
@media #{$desktop} {
  .profit-item {
    display: inline-block;
    margin-right: 20px;
    width: 290px;
    vertical-align: top;
    text-align: center;
    &:last-child {
      margin-right: 0px;
    }
  }
  .profit-item__title {
    font-size: 30px;
  }
  .profit-item__text {
    font-size: 18px;
  }
}
