.profit-item {
  box-sizing: border-box;
  text-align: center;
}
.profit-item__title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
}
.profit-item__text {
  margin-bottom: 44px;
  color: $grey-text;
}
