.profit-list {
  width: 100%;
  background-color: $grey-light;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}

.profit-list__container {
  position: relative;
  box-sizing: border-box;
  @include container();
  padding: 108px (20/320)*100% 286px;
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    width: 155px;
    height: 276px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: top center;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    @media #{$retina} {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px 320px;
    }
  }
}

// планшетная версия
@media #{$tablet} {
  .profit-list__container {
    padding: 75px (20/660)*100% 6px 50%;
    &::after {
      left: (20/660)*100%;
      width: 268px;
      height: 479px;
      transform: translateX(0);
      background-size: 268px auto;
    }
  }
}

// десктопная версия
@media #{$desktop} {
  .profit-list__container {
    display: flex;
    justify-content: space-between;
    padding: 350px 10px 20px;
    width: 940px;
    &::after {
      display: none;
    }
  }
}
