.range {
  position: relative;
  &--crop,
  &--fill,
  &--contrast {
    display: none;
  }
  &--active {
    display: block;
    position: absolute;
    content: "";
    bottom: 22px;
    right: 22px;
    width: 240px;
    height: 15px;
  }
}
.range__axis {
  width: 100%;
  height: 2px;
  background-color: $grey-text;
}
.range__dot {
  position: absolute;
  top: -7px;
  right: 32px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 2px solid $red-text;
  border-radius: 50%;
}

/********************************************************************************************
********** планшетная версия
********************************************************************************************/
@media #{$tablet} {
  .range {
    display: block;
    margin-right: 17px;
    padding-top: 10px;
    width: 75%;
    &--active {
      position: relative;
      top: 0;
      left: 0;
    }

    &--crop {
    }
    &--fill {
    }
    &--contrast {
      margin-top: -5px;
    }
  }
  .range__dot {
    top: 4px;
  }
  .range--crop .range__dot {
    right: 41px;
  }
  .range--fill .range__dot {
    right: auto;
    left: 26px;
  }
  .range--contrast .range__dot {
    right: 91px;
  }
}

/******************************************************************************************
********** десктопная версия
*******************************************************************************************/
@media #{$desktop} {
  .range {
    width: 288px;
    margin-right: 0;
    margin-top: 9px;
    &--contrast {
      margin-top: 3px;
    }
  }
  .range--crop .range__dot {
    right: auto;
    left: 70px;
  }
  .range--fill .range__dot {
    right: 17px;
  }
  .range--contrast .range__dot {
    right: 113px;
  }


}
