.research {
  display: none;
}

// планшетная версия
@media #{$tablet} {
  .research {
    position: relative;
    display: block;
    box-sizing: border-box;
    @include container();
    padding: 100px (20/660)*100% 100px 50% ;
    min-height: 340px;
    &::before {
      position: absolute;
      content: "";
      top: 58px;
      left: (20/660)*100%;
      width: 240px;
      height: 277px;
      background: url("https://placehold.it/240x277/#dedede?text=Timer") top center no-repeat;
    }
  }
  .research__title {
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
  }
  .research__text {
    margin-bottom: 10px;
    padding-right: 5px;
  }
  .research__link {
    color: $red-text;
    text-decoration: underline;
  }
}

// десктопная версия
@media #{$desktop} {
  .research {
    padding: 135px 130px 100px 500px;
    width: 1200px;
    background-color: $grey-light;
  }
  .research__title {
    font-size: 30px;
  }
  .research__text {
    font-size: 18px;
  }
  .research__link {
    font-size: 18px;
  }
}
