.research {
  display: none;
}

/*******************************************************************************************
**********  планшетная версия
********************************************************************************************/
@media #{$tablet} {
  .research {
    display: block;
    width: 100%;
  }
  .research__container {
    position: relative;
    box-sizing: border-box;
    @include container();
    padding: 100px (20/660)*100% 100px 50% ;
    min-height: 340px;
    &::before {
      position: absolute;
      content: "";
      top: 58px;
      left: 20px;
      width: 240px;
      height: 277px;
      background-image: url("../img/icon-timer.svg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 240px auto;
    }
    &::after {
      position: absolute;
      content: "24";
      top: 115px;
      left: 39px;
      padding-top: 72px;
      padding-left: 32px;
      width: 145px;
      height: 106px;
      color: $red-text;
      font-size: 96px;
      font-weight: bold;
      border: 12px solid $red-text;
      border-radius: 50%;
    }
  }
  .research__title {
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
  }
  .research__text {
    margin-bottom: 10px;
    padding-right: 5px;
  }
  .research__link {
    color: $red-text;
    text-decoration: underline;
  }
}

/****************************************************************************************
******** десктопная версия
/****************************************************************************************/
@media #{$desktop} {
  .research {
    background-color: $grey-light;
  }
  .research__container {
    padding: 112px 50px 115px 377px;
    width: 960px;
    &::before {
      top: 19px;
      left: 9px;
      width: 298px;
      height: 345px;
      background-size: 298px 345px;
    }
    &::after {
      top: 89px;
      left: 34px;
      padding-top: 91px;
      padding-left: 41px;
      width: 180px;
      height: 129px;
      font-size: 120px;
      border: 16px solid $red-text;
    }
  }
  .research__title {
    margin-bottom: 24px;
    font-size: 30px;
  }
  .research__title br {
    display: none;
  }
  .research__text {
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 30px;
  }
  .research__link {
    font-size: 18px;
  }
}
