.slider__input {
  display: none;
}
.slider__item {
  display: none;
  &--current {
    display: flex;
  }
}
.slider__toggles {
  box-sizing: border-box;
  padding-top: 40px;
  text-align: center;
}
.slider__toggle {
  display: inline-block;
  margin-right: 13px;
  width: 2px;
  height: 2px;
  vertical-align: top;
  font-size: 0;
  background: $grey-secondary;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}

#feedback-input-1:checked ~ .slider__toggles--feedbaks label[for="feedback-input-1"],
#feedback-input-2:checked ~ .slider__toggles--feedbaks label[for="feedback-input-2"],
#feedback-input-3:checked ~ .slider__toggles--feedbaks label[for="feedback-input-3"] {
  width: 5px;
  height: 5px;
  background: #fff;
  border-color: $grey-text;
}

#plan-input-1:checked ~ .slider__toggles--plans label[for="plan-input-1"],
#plan-input-2:checked ~ .slider__toggles--plans label[for="plan-input-2"],
#plan-input-3:checked ~ .slider__toggles--plans label[for="plan-input-3"] {
  width: 5px;
  height: 5px;
  background: #fff;
  border-color: $grey-text;
}
