.social {
  display: flex;
  justify-content: center;
  margin: 39px 0px;
  width: 100%;
  font-size: 0;
}
.social__item {
  box-sizing: border-box;
  width: 49px;
  height: 49px;
  border: 3px solid rgba(40, 54,69, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }
  &--facebook {
    margin: 0 16px;
    background-image: url("../img/icon-facebook.svg");
  }
  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}

/***************************************************************************************************
************ планшетная версия
****************************************************************************************************/
@media #{$tablet} {
  .social {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 3px;
    width: 30%;
    &--page-form {
      margin-top: 19px;
    }
  }
  .social__item {
    margin: 0 16px;
  }
}

/***************************************************************************************************
************ десктопная версия
****************************************************************************************************/
@media #{$desktop} {
  .social {
    width: auto;
    &--page-form {
      margin-top: 0;
    }
  }
  .social__item {
    margin: 0;
    &--facebook {
      margin: 0 16px;
    }
  }
}
