.upload {
  box-sizing: border-box;
  width: 100%;
}
.upload__inner {
  box-sizing: border-box;
  @include container();
  padding: 18px 20px;
  background: $grey-light;
}
.upload__photo {
  display: block;
  @include container();
  width: 280px;
  height: 374px;
}
.upload__filter-list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 21px 67px;
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -20px;
    right: -20px;
    height: 2px;
    background-color: $grey-text;
    opacity: 0.1;
  }
}
.upload__filter-wrapper {
  &--contrast {
    width: 48px;
  }
}
.upload__filter {
  width: 48px;
  height: 48px;
  background-color: $grey-light;
  border: none;
  padding: 0;
  outline: none;
  &--fill {
    margin: 0 35px;
  }
  &--contrast {
    width: 32px;
  }
}
.upload__filter--active .upload__filter-icon {
  fill: $red-text;
}
.upload__filter-icon {
  width: 100%;
  height: 100%;
  fill: rgba(40, 54, 69, 0.3);
  &--contrast {
    width: 32px;
    height: auto;
  }
}
.upload__filter:hover .upload__filter-icon {
  fill: rgba(40, 54, 69, 0.5);
}
.upload__filter:hover .upload__filter-icon--active {
  fill: $red-text;
}
.upload__filter:active .upload__filter-icon {
  fill: $red-text;
}
.upload__bottom {
  padding: 38px 0 21px;
}
.upload__cancel,
.upload__start {
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  border-radius: 25px;
  &:focus {
    outline: none;
  }
}
.upload__start {
  margin-bottom: 13px;
  color: $red-text;
  border: 3px solid $red-text;
  &:hover {
    color: #fff;
    background-color: $red-text;
  }
  &:active {
    color: rgba(250, 250, 250, 0.3);
    background-color: $red-text;
  }
}
.upload__cancel {
  color: 3px solid rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);
  color: rgba(40, 54, 69, 0.1);
  &:hover {
    color: rgba(40, 54, 69, 0.3);
    border: 3px solid rgba(40, 54, 69, 0.3);
  }
  &:active {
    color: rgba(250, 250, 250, 0.3);
    background-color: rgba(40, 54, 69, 0.3);
    border: 3px solid rgba(40, 54, 69, 0.3);
  }
}

/********************************************************************************************
***  планшетная версия
**********************************************************************************************/

@media #{$tablet} {
  .upload__inner {
    display: flex;
    justify-content: flex-start;
    padding: 57px (20/660)*100% 52px;
  }
  .upload__wrapper-block {
    width: (300/620)*100%;
    &--controls {
      flex-grow: 1;
      width: (274/620)*100%;
    }
  }
  .upload__photo {
    margin: 0;
    width: 100%;
    height: auto;

  }
  .upload__filter-list {
    justify-content: space-between;
    padding: 7px 0 0 48px;
    &::after {
      display: none;
    }
  }
  .upload__filter-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
    padding: 25px 0;
    &--crop {
      padding-top: 0;
    }
  }
  .upload__filter {
    width: 23px;
    height: 23px;
    cursor: default;
    &--crop {
    }
    &--fill {
      margin: 0;
    }
    &--contrast {
      margin: -2px 0 2px 6px;
      width: 15px;
      height: 15px;
    }
  }
  .upload__filter-icon {
    fill: $red-text;
    &--contrast {
      width: 100%;
    }
  }
  .upload__filter:hover .upload__filter-icon {
    fill: $red-text;
  }

  .upload__bottom {
    margin-top: -2px;
    padding: 72px (13/300)*100% 0px (48/300)*100%;
    &::before {
      display: none;
    }
  }
  .upload__start,
  .upload__cancel {

  }
  .upload__start {
    margin-bottom: 26px;
  }
}

/****************************************************************************************************
***  десктопная версия
****************************************************************************************************/
@media #{$desktop} {
  .upload__inner {
    justify-content: space-between;
    @include container();
    padding: 57px 59px 56px 80px;
    width: 940px;
  }
  .upload__wrapper-block {
    width: 300px;
    &--controls {
      flex-grow: 0;
      width: 411px;
    }
  }
  .upload__filter-list {
    padding: 0 31px 0 0;
  }
  .upload__filter-wrapper {
    padding: 18px 0 13px;
    &:first-child {
      padding-top: 0px;
    }
    &--contrast {
      padding-bottom: 20px;
    }
  }
  .upload__filter {
    width: 43px;
    height: 43px;
    &--contrast {
      width: 32px;
      height: 32px;
    }
  }
/*  .upload__filter-icon {
    &--contrast {
      width: 100%;
    }
  }
*/
  .upload__bottom {
    display: flex;
    justify-content: space-between;
    padding: 144px 0px 0px;
  }
  .upload__start,
  .upload__cancel {
    margin-bottom: 0;
    width: 183px;
  }
}
