$grey-dark: #283645;
$grey-black: #1d2631;
$grey-light: #f2f2f2;
$grey-text: #283645;
$red-text: #d22856;
$grey-secondary: #bec2c7;
$grey-line: #e5e5e5;
$green: #2aab6d;
$green-dark: #1c9b5e;
$font: 'Open Sans', Arial, sans-serif;
$tablet: "(min-width: 660px)";
$desktop: "(min-width: 960px)";
$retina: "(min-resolution: 144dpi) and (max-width: 659px), (min-resolution: 1.5dppx) and (max-width: 659px)";
$retina-tablet: "(min-resolution: 144dpi) and (min-width: 660px), (min-resolution: 1.5dppx) and (min-width: 660px)";
$retina-desktop: "(min-resolution: 144dpi) and (min-width: 960px), (min-resolution: 1.5dppx) and (min-width: 960px)";
