$grey-dark: #283645;
$grey-black: #1d2631;
$grey-light: #f2f2f2;
$grey-text: #283645;
$red-text: #d22856;
$grey-secondary: #bec2c7;
$grey-line: #e5e5e5;
$green: #2aab6d;
$font: 'Open Sans', Arial, sans-serif;
$tablet: "(min-width: 660px)";
$desktop: "(min-width: 960px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)"
